@import "tailwindcss";

@import "tw-animate-css";

@font-face {
  font-family: 'PyeojinGothic-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PyeojinGothic-Bold', sans-serif;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f6f3f4;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

*::-webkit-scrollbar-button {
  display: none;
}